<!-- base template html file -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - HackSwift 2024</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Jquery if needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="content">
        {% block content %} 
        {% endblock %}
    </div>
    {% include 'nav.html' %}

</body>
</html>