<!-- extends from base file and includes nav -->
{% extends 'base.html' %}
{% include 'nav.html' %}
<title>{% block title %} - Dashboard{% endblock %}</title>
{% block content %}
    {% block nav%}
    {% endblock %}
    <h1>Hi {{user.username}}!</h1>
    <div class="blog-content">
        <!-- for loop printing out posts -->
        {% for course in courses %}
            <a href="#">
                <h2>{{ course['authorName'] }}</h2>
                <h2>Summary: {{ course['summary'] }}</h2>
            </a>
            <hr>
        {% endfor %}
        <a href="{{ url_for('courses') }}"><button>Create a course</button></a>
    </div>
{% endblock %}