<!-- extends from base file and includes nav -->
{% extends 'base.html' %}
{% include 'nav.html' %}
<title>{% block title %} - Dashboard{% endblock %}</title>
{% block content %}
    {% block nav %}
    {% for course in courses %}
        <div class="blog-content">
            <h1>{{ course['courseName'] }}</h1>
            <h2>{{ course['summary'] }}</h2>
            {% for chapter in course.chapters %}
                <h3>{{ chapter['chapterName'] }}</h3>
                <h3>{{ chapter['summaryText'] }}</h3>
            {% endfor %}
            <a href="/editCourse?courseId={{ course['id']}}">
                <h3>Edit</h3>
            </a>
        </div>
    {% endfor %}
    {% endblock %}
{% endblock %}